hello world
%form{:method=>'post', :action=>'/accept'}
  %input{:name=>'davy', :type=>'text'}
  %input{:type=>'submit', :name=>'jones', :value=>'jones'}

%form{:method=>'post', :action=>'/decline'}
  %input{:name=>'davy', :type=>'text'}
  %input{:type=>'submit', :name=>'jones', :value=>'jones'}

